{:paths ["src/cljel" "resources"]
 :deps {io.github.lages/clojure-elisp {:local/root "/home/lages/PP/clojure-elisp"}}
 :aliases
 {:build {:extra-deps {io.github.lages/clojure-elisp {:local/root "/home/lages/PP/clojure-elisp"}}
          :main-opts ["-m" "clojure-elisp.core"]}}}
