{:paths ["src/cljel" "resources"]
 :deps {io.github.BuddhiLW/clojure-elisp {:git/tag "v0.4.0" :git/sha "d42b941"}}
 :aliases
 {:build {:extra-deps {io.github.BuddhiLW/clojure-elisp {:git/tag "v0.4.0" :git/sha "d42b941"}}
          :main-opts ["-m" "clojure-elisp.core"]}}}
